<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="posts">Posts</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="new-post">Ajouter un post</a>
            </li>
        </ul>
    </div>
</nav>
