<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Ajouter un nouveau Post</h2>
        <form [formGroup]="formPost" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title" 
                    class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label for="content">Texte</label>
                <textarea id="content" class="form-control" formControlName="content"></textarea>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="formPost.invalid">Enregitrer</button>
        </form>
    </div>
</div>
