<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': getLoveIts() > 0,
                'list-group-item-danger': getLoveIts() < 0 }">
    
    <div> 
        <div class="text-right">{{ post.created_at }}</div>
        <div [ngStyle]="{color: getColor()}">
            <h3>{{ post.title }}</h3>  
            {{post.content}}
            <p></p>
        </div>
    </div>
    
    <div class="btn-toolbar">
        <button class="btn btn-success" (click)="onLoveIt()">Love it !</button>
        <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it !</button>
        <button class="btn bnt-default" (click)="onDelete()">Supprimer</button>
    </div>
</li>
